<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

     {{#if msg2}}<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{msg2}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>{{/if}}

    {{#if msg}}<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>{{/if}}

    <form action="/" method="post" onsubmit="return func1()">
      <div class="container">
      <div class="mb-3 my-4">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" />
        <p class="disp1">*Invalid Email</p>
      </div>
       <div class="mb-3 my-4">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="*******"/>
        <p class="disp1">*Password should contain minimum 8 letters</p>
        <p class="disp1">*Password must have Numbers</p>
      </div>
      <div class="mb-3 my-4">
        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
        <input type="password" name="cpassword" class="form-control" id="cpassword" placeholder="*******"/>
      </div>
      <button class="btn btn-primary">Submit</button>

      <p class="my-4">Already have an account? <a href="/login">SignIn Here</a></p>
      </div>

    </form>
 
     <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>